<div class="page-container">
  <div
    class="section-title d-flex align-items-center justify-content-center text-center my-5"
  >
    <div class="line me-3"></div>
    <h3 class="text-lime m-0">Proiecte Video Evenimente</h3>
    <div class="line ms-3"></div>
  </div>
  <div class="text-center mb-4">
    <p class="lead mt-2">
      Descoperă colecția noastră de proiecte video, de la scurtmetraje
      cinematice la producții de lungmetraj, realizate cu atenție la detalii și
      emoție autentică.<br />
      Fiecare film spune o poveste unică și transformă evenimentele speciale în
      amintiri vizuale de neuitat.
    </p>
  </div>
  <div class="row p-4">
    <!-- Proiect 1 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Eveniment Cununie Civila</h5>
          <p class="card-text small">
            Proiect video cinematic scurt, ce surprinde cele mai importante
            momente ale unei Cununii Civile.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/luEvl5YYwPQ"
              title="Proiect_1_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- Proiect 2 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">
            Eveniment Nuntă Alina și Alexandru
          </h5>
          <p class="card-text small">
            Proiect video cinematic scurt, ce surprinde cele mai importante
            momente ale nunții Alina și Alexandru.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/XPhhp4Cxvag"
              title="Proiect_1_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- Proiect 3 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Eveniment Nuntă Emil și Laura</h5>
          <p class="card-text small">
            Proiect video cinematic scurt, ce surprinde cele mai importante
            momente ale nunții Emil și Laura.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/wDJLxbH7FSQ"
              title="Proiect_1_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- Proiect 4 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">
            Eveniment Cununie Civila Marius și Maria
          </h5>
          <p class="card-text small">
            Proiect video cinematic scurt, ce surprinde cele mai importante
            momente ale nunții Marius și Maria.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/e8Ub2ReVIqs"
              title="Proiect_1_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- Proiect 5 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Eveniment Nuntă Radu și Mălina</h5>
          <p class="card-text small">
            Proiect video cinematic lung-metraj, care redă în detaliu povestea
            nunții Radu și Mălina.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/D1BoVu3vyqI"
              title="Proiect_3_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- Proiect 6 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">
            Eveniment Nuntă Simona și Andrei
          </h5>
          <p class="card-text small">
            Proiect video cinematic lung-metraj, care redă în detaliu povestea
            nunții Simona și Andrei.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/k2cbzVJp3Zk"
              title="Proiect_3_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- Proiect 7 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">
            Eveniment Nuntă Andreea și Claudiu
          </h5>
          <p class="card-text small">
            Proiect video cinematic lung-metraj, care redă în detaliu povestea
            nunții Andreea și Claudiu.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/uqZRfGlJDQ0"
              title="Proiect_3_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- Proiect 8 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">
            Eveniment Nuntă Irina și Adelin
          </h5>
          <p class="card-text small">
            Proiect video cinematic lung-metraj, care redă în detaliu povestea
            nunții Irina și Adelin.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/btxJ4EbSI9U"
              title="Proiect_3_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- Proiect 5 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Eveniment Nuntă X și Y</h5>
          <p class="card-text small">
            Proiect video cinematic lung-metraj, care redă în detaliu povestea
            nunții X și Y.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/Bx_Ee1lRLhk"
              title="Proiect_3_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- Proiect 6 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Eveniment Nuntă X și Y</h5>
          <p class="card-text small">
            Proiect video cinematic lung-metraj, care redă în detaliu povestea
            nunții X și Y.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/b-8VBwu14Fc"
              title="Proiect_3_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- Proiect 7 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Eveniment Nuntă X și Y</h5>
          <p class="card-text small">
            Proiect video cinematic lung-metraj, care redă în detaliu povestea
            nunții X și Y.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/9FRmeT8YrCw"
              title="Proiect_3_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
