<div class="page-container">
  <div
    class="section-title d-flex align-items-center justify-content-center text-center my-5"
  >
    <div class="line me-3"></div>
    <h3 class="text-lime m-0">Proiecte Foto-Video Evenimente</h3>
    <div class="line ms-3"></div>
  </div>
  <div class="text-center mb-4">
    <p class="lead mt-2">
      Explorează portofoliul nostru diversificat de proiecte foto și video
      dedicate evenimentelor speciale. Capturăm momente unice prin imagini și
      materiale video de înaltă calitate, oferind o experiență vizuală
      memorabilă, care păstrează vie emoția fiecărui eveniment.
    </p>
  </div>
  <div class="row p-4">
    <!-- Proiect 1 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">
            Eveniment Nuntă Codruța și Ionuț
          </h5>
          <p class="card-text small">
            Proiect video cinematic scurt, ce surprinde cele mai importante
            momente ale nunții Codruța și Ionuț.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/HtG6e4AbVsQ"
              title="Proiect_1_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- Proiect 2 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">
            Eveniment Nuntă Irina și Adrian
          </h5>
          <p class="card-text small">
            Proiect video cinematic scurt, ce surprinde cele mai importante
            momente ale nunții Irina și Adrian.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/2ugDs6qp-Sg"
              title="Proiect_1_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- Proiect 3 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">
            Eveniment Nuntă Mădălina și Catalin
          </h5>
          <p class="card-text small">
            Proiect video cinematic scurt, ce surprinde cele mai importante
            momente ale nunții Mădălina și Catalin.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/i_TK-OteEJA"
              title="Proiect_1_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- Proiect 4 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">
            Eveniment Nuntă Betty și Emilian
          </h5>
          <p class="card-text small">
            Proiect video cinematic scurt, ce surprinde cele mai importante
            momente ale nunții Betty și Emilian.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/39st5sN0Qfg"
              title="Proiect_1_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- Proiect 5 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Eveniment Nuntă X și Y</h5>
          <p class="card-text small">
            Proiect video cinematic lung-metraj, care redă în detaliu povestea
            nunții X și Y.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/Bx_Ee1lRLhk"
              title="Proiect_3_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- Proiect 6 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Eveniment Nuntă X și Y</h5>
          <p class="card-text small">
            Proiect video cinematic lung-metraj, care redă în detaliu povestea
            nunții X și Y.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/b-8VBwu14Fc"
              title="Proiect_3_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- Proiect 7 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Eveniment Nuntă X și Y</h5>
          <p class="card-text small">
            Proiect video cinematic lung-metraj, care redă în detaliu povestea
            nunții X și Y.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/9FRmeT8YrCw"
              title="Proiect_3_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
