<div class="page-container">
  <div
    class="section-title d-flex align-items-center justify-content-center text-center my-5"
  >
    <div class="line me-3"></div>
    <h3 class="text-lime m-0">Proiecte Foto Evenimente</h3>
    <div class="line ms-3"></div>
  </div>
  <div class="text-center mb-4">
    <p class="lead mt-2">
      Explorează portofoliul nostru de proiecte foto dedicate evenimentelor
      speciale. <br />
      Surprindem emoția și autenticitatea fiecărui moment prin imagini expresive
      și compoziții atent realizate, transformând clipele importante în amintiri
      vizuale de durată.
    </p>
  </div>
  <div class="row p-4">
    <!-- Proiect 1 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Proiect Nuntă</h5>
          <p class="card-text small">
            Proiect Foto pentru un eveniment de tip Nuntă
          </p>
          <div id="carouselProiect2" class="carousel slide mb-2">
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img
                  src="../../../assets/m8.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/m2.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/m3.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/m4.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/m5.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/m6.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/m7.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/m1.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/m9.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselProiect2"
              data-bs-slide="prev"
            >
              <i class="bi bi-arrow-left-circle-fill fs-3 text-danger"></i>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselProiect2"
              data-bs-slide="next"
            >
              <i class="bi bi-arrow-right-circle-fill fs-3 text-danger"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Proiect 2 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Proiect Botez</h5>
          <p class="card-text small">
            Proiect Foto pentru un eveniment de tip Botez
          </p>
          <div id="carouselProiect3" class="carousel slide mb-2">
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img
                  src="../../../assets/n1.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/n2.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/n3.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/n4.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/n5.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/n6.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/n7.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/n8.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselProiect3"
              data-bs-slide="prev"
            >
              <i class="bi bi-arrow-left-circle-fill fs-3 text-danger"></i>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselProiect3"
              data-bs-slide="next"
            >
              <i class="bi bi-arrow-right-circle-fill fs-3 text-danger"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Proiect 3 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Proiect Nuntă</h5>
          <p class="card-text small">
            Proiect Foto pentru un eveniment de tip Nuntă
          </p>
          <div id="carouselProiect4" class="carousel slide mb-2">
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img
                  src="../../../assets/o1.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/o2.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/o3.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/o4.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/o5.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/o6.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/o7.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/o8.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselProiect4"
              data-bs-slide="prev"
            >
              <i class="bi bi-arrow-left-circle-fill fs-3 text-danger"></i>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselProiect4"
              data-bs-slide="next"
            >
              <i class="bi bi-arrow-right-circle-fill fs-3 text-danger"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Proiect 3 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Proiect Eveniment Onomastic</h5>
          <p class="card-text small">
            Proiect Foto pentru un Eveniment Onomastic
          </p>
          <div id="carouselProiect5" class="carousel slide mb-2">
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img
                  src="../../../assets/p1.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/p2.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/p3.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/p4.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/p5.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/p6.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselProiect5"
              data-bs-slide="prev"
            >
              <i class="bi bi-arrow-left-circle-fill fs-3 text-danger"></i>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselProiect5"
              data-bs-slide="next"
            >
              <i class="bi bi-arrow-right-circle-fill fs-3 text-danger"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
