<div class="page-container">
  <div class="container">
    <app-hero-section></app-hero-section>
  </div>
  <div class="marquee-wrapper">
    <div class="marquee-content text-center">
      <span>
        🎬 Tur Virtual 360🎬 Fotografii Profesionale Pentru Proiecte Imobiliare
        🎬 Evenimente publice sau private🎬 Campanii Electorale 🎬 Social Media
        Management 🎬 Servicii personalizate de productie Foto-Video 🎬 Soluții
        de Marketing și Management 🎬
      </span>
      <span>
        🎬 Tur Virtual 360🎬 Fotografii Profesionale Pentru Proiecte Imobiliare
        🎬 Evenimente publice sau private🎬 Campanii Electorale 🎬 Social Media
        Management 🎬 Servicii personalizate de productie Foto-Video 🎬 Soluții
        de Marketing și Management 🎬
      </span>
      <span>
        🎬 Tur Virtual 360🎬 Fotografii Profesionale Pentru Proiecte Imobiliare
        🎬 Evenimente publice sau private🎬 Campanii Electorale 🎬 Social Media
        Management 🎬 Servicii personalizate de productie Foto-Video 🎬 Soluții
        de Marketing și Management 🎬
      </span>
      <span>
        🎬 Tur Virtual 360🎬 Fotografii Profesionale Pentru Proiecte Imobiliare
        🎬 Evenimente publice sau private🎬 Campanii Electorale 🎬 Social Media
        Management 🎬 Servicii personalizate de productie Foto-Video 🎬 Soluții
        de Marketing și Management 🎬
      </span>
    </div>
  </div>
  <div class="container">
    <app-creator></app-creator>
    <app-services></app-services>
    <app-proces></app-proces>
    <app-connect></app-connect>
  </div>
</div>
