<div class="page-container">
  <div class="container">
    <app-hero-section></app-hero-section>
  </div>
  <div class="marquee-wrapper">
    <div class="marquee-content text-center">
      <span>
        🎬 Tur Virtual 🎬 Fotografii Profesionale Pentru Proiecte Imobiliare 🎬
        Evenimente 🎬 Campanii Eletorale 🎬 Social Media Management 🎬 Servicii
        personalizate de productie foto video 🎬 Marketing si Management 🎬
      </span>
      <span>
        🎬 Tur Virtual 🎬 Fotografii Profesionale Pentru Proiecte Imobiliare 🎬
        Evenimente 🎬 Campanii Eletorale 🎬 Social Media Management 🎬 Servicii
        personalizate de productie foto video 🎬 Marketing si Management 🎬
      </span>
      <span>
        🎬 Tur Virtual 🎬 Fotografii Profesionale Pentru Proiecte Imobiliare 🎬
        Evenimente 🎬 Campanii Eletorale 🎬 Social Media Management 🎬 Servicii
        personalizate de productie foto video 🎬 Marketing si Management 🎬
      </span>
      <span>
        🎬 Tur Virtual 🎬 Fotografii Profesionale Pentru Proiecte Imobiliare 🎬
        Evenimente 🎬 Campanii Eletorale 🎬 Social Media Management 🎬 Servicii
        personalizate de productie foto video 🎬
      </span>
    </div>
  </div>
  <div class="container">
    <app-creator></app-creator>
    <app-services></app-services>
    <app-proces></app-proces>
    <app-connect></app-connect>
  </div>
</div>
