.display-4 {
  text-transform: uppercase;
}

.hero-section {
  background-color: #000;
}

.highlight-box {
  color: #fff;
  font-size: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px #e60000;
}

.highlight-title {
  color: #e60000;
}

/* Keyframes for smooth infinite scroll */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 767.98px) {
  .hero-section .col-md-6.text-center img {
    max-width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
