<div class="container hero-section py-5">
  <div class="row align-items-center">
    <!-- Left: Text content -->
    <div class="col-md-6 text-white">
      <div class="text-center">
        <h3 class="mb-0">Disponibil pentru proiecte</h3>
        <h3 class="mb-3">la nivel national</h3>
      </div>

      <hr class="border-light w-70 mb-4" />
      <h1 class="display-4 fw-bold">
        Expert in productii Foto-Video si consiliere
      </h1>
      <h3 class="mb-3">Lentila mea, spune povestea ta!</h3>
    </div>

    <!-- Right: Image -->
    <div class="col-md-6 text-center">
      <img
        src="../../../assets/hero-image.png"
        alt="Hero"
        class="img-fluid"
        style="max-width: 100%; height: auto"
      />
    </div>
  </div>
</div>
