.display-4 {
  text-transform: uppercase;
}

.hero-section {
  background-color: #000;
}

.highlight-box {
  color: #fff;
  font-size: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px #e60000;
}

.highlight-title {
  color: #e60000;
}

/* Keyframes for smooth infinite scroll */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}
