<div class="container hero-section py-5">
  <div class="row align-items-center">
    <!-- Left: Text content -->
    <div class="col-md-6 text-white">
      <div
        class="text-center d-flex flex-md-row flex-column align-items-center"
      >
        <a class="navbar-brand text-white me-5" href="/">
          <img src="../../../assets/select.png" alt="Logo" width="240" />
        </a>
        <h3 class="mb-0">Disponibil pentru proiecte la nivel național</h3>
      </div>

      <hr class="border-light w-70 mb-4" />
      <h1 class="display-4 fw-bold">
        Expert in producții Foto-Video și consultanță
      </h1>
      <h3 class="mb-3">Lentila mea, spune povestea ta!</h3>
      <div class="highlight-box p-3 rounded mt-5 text-center">
        <h5 class="text-uppercase text-danger fw-bold text-center mb-3">
          Ofertă specială
        </h5>
        <p class="m-0 fw-semibold">
          Soluții vizuale pentru
          <span class="highlight-title">Proiecte Imobiliare</span>
        </p>

        <p class="m-0 mt-2">Tururi Virtuale 360 + Fotografii Profesionale</p>
      </div>
    </div>

    <!-- Right: Image -->
    <div class="col-md-6 text-center">
      <img
        src="../../../assets/hero.png"
        alt="Hero"
        class="img-fluid"
        style="max-width: 100%; height: auto"
      />
    </div>
  </div>
</div>
