<div class="page-container">
  <div
    class="section-title d-flex align-items-center justify-content-center text-center my-5"
  >
    <div class="line me-3"></div>
    <h3 class="text-lime m-0">Proiecte Foto Evenimente</h3>
    <div class="line ms-3"></div>
  </div>
  <div class="text-center mb-4">
    <p class="lead mt-2">
      Explorează portofoliul nostru de proiecte foto dedicate evenimentelor
      speciale. <br />
      Surprindem emoția și autenticitatea fiecărui moment prin imagini expresive
      și compoziții atent realizate, transformând clipele importante în amintiri
      vizuale de durată.
    </p>
  </div>
  <div class="row p-4">
    <!-- Proiect 1 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Proiect Albume Fizice</h5>
          <p class="card-text small">Proiect Foto pentru Albume Fizice</p>
          <div id="carouselProiect5" class="carousel slide mb-2">
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img
                  src="../../../assets/a1.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/a2.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/a3.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/a4.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/a.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/a5.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/a6.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/a7.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/a8.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/a9.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/a10.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/a11.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>

              <div class="carousel-item">
                <img
                  src="../../../assets/a13.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/a14.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/a15.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/a16.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/a17.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/a18.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/a19.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/a20.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/a21.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/a22.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselProiect5"
              data-bs-slide="prev"
            >
              <i class="bi bi-arrow-left-circle-fill fs-3 text-danger"></i>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselProiect5"
              data-bs-slide="next"
            >
              <i class="bi bi-arrow-right-circle-fill fs-3 text-danger"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Proiect 2 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Proiect Imobiliar</h5>
          <p class="card-text small">
            Proiect Foto pentru un Proiect Imobiliar
          </p>
          <div id="carouselProiect6" class="carousel slide mb-2">
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img
                  src="../../../assets/w1.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/w2.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/w3.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/w4.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/w5.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/w6.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/w7.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/w8.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/w9.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/w10.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/w11.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/w12.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/w13.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/w14.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselProiect6"
              data-bs-slide="prev"
            >
              <i class="bi bi-arrow-left-circle-fill fs-3 text-danger"></i>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselProiect6"
              data-bs-slide="next"
            >
              <i class="bi bi-arrow-right-circle-fill fs-3 text-danger"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Proiect 3 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Proiect Imobiliar</h5>
          <p class="card-text small">
            Proiect Foto pentru un Proiect Imobiliar
          </p>
          <div id="carouselProiect7" class="carousel slide mb-2">
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img
                  src="../../../assets/q1.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/q2.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/q3.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/q4.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/q5.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/q6.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/q7.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/q8.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/q9.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/q10.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/q11.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/q12.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/q13.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/q14.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/q15.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/q16.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/q17.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/q18.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/q19.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselProiect7"
              data-bs-slide="prev"
            >
              <i class="bi bi-arrow-left-circle-fill fs-3 text-danger"></i>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselProiect7"
              data-bs-slide="next"
            >
              <i class="bi bi-arrow-right-circle-fill fs-3 text-danger"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Proiect 3 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Proiect Imobiliar</h5>
          <p class="card-text small">
            Proiect Foto pentru un Proiect Imobiliar
          </p>
          <div id="carouselProiect8" class="carousel slide mb-2">
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img
                  src="../../../assets/x1.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/x2.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/x3.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/x4.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/x5.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/x6.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/x7.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/x8.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/x9.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/x10.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/x11.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/x12.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/x13.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/x14.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/x15.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/x16.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/x17.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/x18.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/x19.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselProiect8"
              data-bs-slide="prev"
            >
              <i class="bi bi-arrow-left-circle-fill fs-3 text-danger"></i>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselProiect8"
              data-bs-slide="next"
            >
              <i class="bi bi-arrow-right-circle-fill fs-3 text-danger"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
