<div class="page-container">
  <div
    class="section-title d-flex align-items-center justify-content-center text-center my-5"
  >
    <div class="line me-3"></div>
    <h3 class="text-lime m-0">Proiecte Tur Virtual 360 Imobiliare</h3>
    <div class="line ms-3"></div>
  </div>
  <div class="text-center mb-4">
    <p class="lead mt-2">
      Explorează portofoliul nostru de tururi virtuale 360° realizate pentru
      proprietăți imobiliare. <br />Oferim o experiență interactivă ce permite
      vizitarea completă a spațiilor fără a fi fizic la fața locului.
    </p>
  </div>
  <div class="row p-4">
    <!-- Proiect 1 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Cabana 1</h5>
          <p class="card-text small">
            Proiect de tur virtual 360° pentru o Cabană.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/gvodtoKjZqg"
              title="Proiect_1_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- Proiect 2 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Cabana 2</h5>
          <p class="card-text small">
            Proiect de tur virtual 360° pentru o Cabană.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/7IWTKXiwsQo"
              title="Proiect_2_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- Proiect 3 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Cabana 3</h5>
          <p class="card-text small">
            Proiect de tur virtual 360° pentru o Cabană.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/kPcibjce1q4"
              title="Proiect_3_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- Proiect 4 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Apartament 1</h5>
          <p class="card-text small">
            Proiect de tur virtual 360° pentru un Apartament.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/-W1dMnmCHWA"
              title="Proiect_3_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- Proiect 5 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Apartament 2</h5>
          <p class="card-text small">
            Proiect de tur virtual 360° pentru un Apartament.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/A5VCv9PIuZQ"
              title="Proiect_3_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- Proiect 6 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Apartament 3</h5>
          <p class="card-text small">
            Proiect de tur virtual 360° pentru un Apartament.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/gEh7tuLCGoU"
              title="Proiect_3_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- Proiect 7 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Apartament 4</h5>
          <p class="card-text small">
            Proiect de tur virtual 360° pentru un Apartament.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/8P7FmVsKK0A"
              title="Proiect_3_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
