<div class="page-container">
  <div
    class="section-title d-flex align-items-center justify-content-center text-center my-5"
  >
    <div class="line me-3"></div>
    <h3 class="text-lime m-0">Servicii Video Comerciale</h3>
    <div class="line ms-3"></div>
  </div>
  <div class="text-center mb-4">
    <p class="lead mt-2">
      Realizăm materiale video profesionale pentru promovarea brandurilor,
      produselor și serviciilor tale. <br />De la reclame TV și spoturi online,
      la prezentări corporate și testimoniale, fiecare proiect este creat pentru
      a transmite un mesaj clar, convingător și memorabil publicului țintă.
    </p>
  </div>
  <div class="row p-4">
    <!-- Proiect 6 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Proiect Academie Beauty</h5>
          <p class="card-text small">
            Proiect video cinematic scurt, realizat pentru promovarea Academiei
            Beauty.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/o1NJX2DaK5g"
              title="Proiect_1_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- Proiect 6 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Proiect Salon Beauty</h5>
          <p class="card-text small">
            Proiect video cinematic scurt, realizat pentru promovarea Salonului
            Beauty.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/Tl2v9y-ZcA8"
              title="Proiect_1_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- Proiect 6 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Proiect Pasindora</h5>
          <p class="card-text small">
            Proiect video cinematic scurt, realizat pentru promovarea unui
            Cabinet Dentar, Pasindora
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/dU3G4SeCB-Y"
              title="Proiect_1_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- Proiect 6 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Prezentare Spatiu</h5>
          <p class="card-text small">
            Proiect video cinematic scurt, realizat pentru promovarea unui
            spatiu fizic.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/QM6GDjoVAC0"
              title="Proiect_1_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
