<div class="page-container">
  <div
    class="section-title d-flex align-items-center justify-content-center text-center my-5"
  >
    <div class="line me-3"></div>
    <h3 class="text-lime m-0">Diverse Proiecte de Succes</h3>
    <div class="line ms-3"></div>
  </div>
  <div class="text-center mb-4">
    <p class="lead mt-2">
      Descoperă proiectele noastre creative realizate pentru promovare pe
      rețelele de socializare. Oferim conținut vizual captivant, adaptat pentru
      platforme precum Instagram, Facebook, TikTok și YouTube – de la clipuri
      scurte și dinamice până la materiale grafice optimizate pentru engagement
      și vizibilitate online.
    </p>
  </div>
  <div class="row p-4">
    <!-- Proiect 6 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Prezentare Spatiu</h5>
          <p class="card-text small">
            Proiect video cinematic scurt, realizat pentru promovarea unui
            spatiu fizic.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/QM6GDjoVAC0"
              title="Proiect_1_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- Proiect 6 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Proiect Select Media</h5>
          <p class="card-text small">
            Proiect video cinematic scurt, realizat pentru promovarea unui
            Produs.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/P-U-C7LbjNc
"
              title="Proiect_1_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- Proiect 6 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Proiect Videoclip Muzical</h5>
          <p class="card-text small">
            Proiect video cinematic scurt pentru un proiect muzical.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/4Pe2VnWg38s"
              title="Proiect_1_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- Proiect 6 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Proiect Academie Beauty</h5>
          <p class="card-text small">
            Proiect video cinematic scurt, realizat pentru promovarea Academiei
            Beauty.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/o1NJX2DaK5g"
              title="Proiect_1_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- Proiect 6 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Proiect Salon Beauty</h5>
          <p class="card-text small">
            Proiect video cinematic scurt, realizat pentru promovarea Salonului
            Beauty.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/Tl2v9y-ZcA8"
              title="Proiect_1_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- Proiect 6 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Proiect Pasindora</h5>
          <p class="card-text small">
            Proiect video cinematic scurt, realizat pentru promovarea unui
            Cabinet Dentar, Pasindora
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/dU3G4SeCB-Y"
              title="Proiect_1_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- Proiect 6 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Proiect Stai Drept</h5>
          <p class="card-text small">
            Proiect video cinematic scurt, realizat pentru crearea de conținut
            pentru Proiectul Stai Drept.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/ceFvY8Z8_v8"
              title="Proiect_1_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Proiect Stai Drept</h5>
          <p class="card-text small">
            Proiect video cinematic scurt, realizat pentru crearea de conținut
            pentru Proiectul Stai Drept.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/MXw-Id4yDIM"
              title="Proiect_1_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Proiect Stai Drept</h5>
          <p class="card-text small">
            Proiect video cinematic scurt, realizat pentru crearea de conținut
            pentru Proiectul Stai Drept.
          </p>
          <div class="ratio ratio-16x9 mb-3 rounded">
            <iframe
              src="https://www.youtube.com/embed/K8ENI8QXrN4"
              title="Proiect_1_Video"
              loading="lazy"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- Proiect 2 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Proiect Bake with Love</h5>
          <p class="card-text small">
            Proiect Foto pentru promovarea proiectului Bake with Love
          </p>
          <div id="carouselProiect2" class="carousel slide mb-2">
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img
                  src="../../../assets/bake1.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/bake2.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/bake3.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/bake4.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/bake5.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/bake6.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/bake7.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/bake8.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselProiect2"
              data-bs-slide="prev"
            >
              <i class="bi bi-arrow-left-circle-fill fs-3 text-danger"></i>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselProiect2"
              data-bs-slide="next"
            >
              <i class="bi bi-arrow-right-circle-fill fs-3 text-danger"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
