/* You can add global styles to this file, and also import other style files */
html {
  background-color: black;
}

.page-container {
  background-color: black;
  color: white;
}

.btn-danger {
  background-color: #e60000 !important;
  border: none;

  &:hover {
    background-color: #b30000 !important;
  }
}

.section-title .line {
  width: 60px;
  height: 1px;
  background-color: #e60000; /* lime/verde neon */
}

.text-lime {
  color: #e60000;
  font-weight: 500;
}
