<div class="page-container">
  <div
    class="section-title d-flex align-items-center justify-content-center text-center my-5"
  >
    <div class="line me-3"></div>
    <h3 class="text-lime m-0">Proiecte Foto Evenimente</h3>
    <div class="line ms-3"></div>
  </div>
  <div class="text-center mb-4">
    <p class="lead mt-2">
      Explorează portofoliul nostru de proiecte foto dedicate evenimentelor
      speciale. <br />
      Surprindem emoția și autenticitatea fiecărui moment prin imagini expresive
      și compoziții atent realizate, transformând clipele importante în amintiri
      vizuale de durată.
    </p>
  </div>
  <div class="row p-4 d-flex justify-content-center">
    <!-- Proiect 1 -->
    <div class="col-md-6 col-lg-6 mb-4">
      <div class="card bg-dark text-white h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-danger">Proiecte cu Diversi Artisti</h5>
          <p class="card-text small">
            Proiecte si Colaborari cu Diversi Artisti
          </p>
          <div id="carouselProiect2" class="carousel slide mb-2">
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img
                  src="../../../assets/h.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/h1.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/h2.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/h3.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/h4.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/h5.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/h6.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/h7.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/h8.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/h9.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/h10.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/h11.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/h12.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/h13.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/h14.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/h15.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/h16.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/h17.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/h18.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/h19.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/h20.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/h21.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/h22.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/h23.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/h24.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../assets/h25.jpg"
                  class="d-block w-100 rounded"
                  loading="lazy"
                  alt="Imagine 1"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselProiect2"
              data-bs-slide="prev"
            >
              <i class="bi bi-arrow-left-circle-fill fs-3 text-danger"></i>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselProiect2"
              data-bs-slide="next"
            >
              <i class="bi bi-arrow-right-circle-fill fs-3 text-danger"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
